<section class="order about">
  <div class="container">
    <div class="order-text">
      <div class="order-text-title double-title">
        <span>Лучшая </span> итальянская пиццерия!
      </div>
      <div class="order-text-message">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, commodi corporis distinctio enim id
        impedit inventore laudantium magnam maiores necessitatibus nihil nisi, odio optio porro praesentium quae quam
        quas qui quisquam quod sequi tenetur velit?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, commodi corporis distinctio enim id
        impedit inventore laudantium magnam maiores necessitatibus nihil nisi, odio optio porro praesentium quae quam
        quas qui quisquam quod sequi tenetur velit?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, commodi corporis distinctio enim id
        impedit inventore laudantium magnam maiores necessitatibus nihil nisi, odio optio porro praesentium quae quam
        quas qui quisquam quod sequi tenetur velit?
      </div>
    </div>
    <div class="about-image">
      <img src="assets/images/pizza_big.png" alt="pizza">
      <img src="assets/images/pizza_big.png" alt="pizza">
    </div>
  </div>
</section>
